<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
     backupStaticAttributes="false"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     processIsolation="false"
     stopOnFailure="false"
     bootstrap="tests/bootstrap.php"
    >
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/MagentoHackathon/Composer/Magento</directory>
        </testsuite>
        <testsuite name="Fullstack">
            <directory>./tests/MagentoHackathon/Composer/FullStack</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
</phpunit>
